%h1 Carriers
.row
  .col-md-6.offset-md-3
    %table.table.table-sm
      %thead.thead-dark
        %tr
          %th Name
          %th Gateway Address
          %th
          %th
      %tbody
        - if @carriers.present?
          - @carriers.each do |carrier|
            %tr
              %td= carrier.name
              %td= carrier.gateway_address
              %td= link_to 'Edit', edit_carrier_path(carrier)
              %td.text-right= button_to 'Destroy', carrier, method: :delete,
                class: 'btn btn-danger', data: { confirm: 'Are you sure?' }
        - else
          %tr
            %td{colspan: 7} No carriers to show.
    .row
      .col.text-right
        = link_to 'New Carrier', new_carrier_path
