%h1 Dispatch Log

= form_with model: @entry, url: log_index_url do |f|
  .field= f.text_area :text, size: '80x8'
  .actions= f.submit 'Create log entry'

%ul.dispatch-log
  - @entries.each do |entry|
    %li
      .content
        .name= entry.user.try(:name) || 'Unknown'
        .time= entry.entry_time
        .text
          %p= entry.text
          - if @current_user.admin?
            .edit-form
              = form_with model: entry, url: log_url(entry) do |f|
                .field= f.text_area :text, size: '80x8'
                .actions= f.submit 'Change log entry', class: 'btn btn-primary'
      .actions
        - if @current_user.admin?
          %button.btn.btn-primary.edit-entry Edit
        - if @current_user.can_delete? entry
          = button_to 'Delete', log_url(entry), method: :delete, class: 'btn btn-primary'
