.container
  %h1 Development login

  .row.row-cols-1.row-cols-md-2
    .col.mb-4
      .card
        .card-body
          %h5.card-title Login as User
          .card-text
            = form_with url: sessions_dev_login_path, local: true do |f|
              .input-group
                = f.select :user_id,
                  grouped_options_for_select(dev_login_options(@users)),
                  {}, class: 'form-control custom-select'
                .input-group-append
                  = f.submit 'Login', class: 'btn btn-success'
    .col.mb-4
      .card
        .card-body
          %h5.card-title Login as Passenger
          .card-text
            = form_with url: sessions_dev_login_path, local: true do |f|
              .input-group
                = f.select :passenger_id,
                  options_from_collection_for_select(@passengers, :id, :name),
                  { include_blank: 'New Passenger' }, class: 'form-control custom-select'
                .input-group-append
                  = f.submit 'Login', class: 'btn btn-success'
