%h1 Welcome to the website for Special Transportation
%h2 You are not allowed on this page.
%p
  Some possible scenarios:
  If you are an employee of UMass Transit and believe you should have acce
  However, we either could not find a user in our employee database
  with your NetID, or your account has been deactivated. Some possible causes:
  %ul
    %li
      You are a current or future passenger. In this case, please go
      = link_to 'here', register_passengers_path
      to register, check your registration status, or view the brochure.
    %li 
      You are an employee of UMass Transit, but we haven't added you to our
      database yet. In this case, please talk to the ST supervisor or contact IT.
    %li 
      You are an employee of UMass Transit, you have previously been able to log
      into the site, but now you cannot. If this is the case, please email IT at
      transit-it@admin.umass.edu immediately, or stop by our office. You may have been
      accidentally deactivated.
    %li
      You are neither an employee nor a passenger. In this case,
      you might be looking for our public website, where you can access
      = succeed ',' do
        = link_to 'news', 'http://umass.edu/transit/news.html'
      = succeed ', and' do
        = link_to 'schedules', 'http://umass.edu/transit/schedules.html'
      = succeed '.' do
        = link_to 'employment information', 'http://umass.edu/transit/join_team.html'

= link_to 'Logout', destroy_session_path, method: :delete
