%h1
  Oh no!
%p
  %b
    You have successfully logged in.
  However, we either could not find a user in our employee database
  with your NetID, or your account has been deactivated. Some possible causes:
  %ul
    %li
      = "You are not an employee of UMass Transit.
        In this case, you might be looking for our public website, where you can access "
      = succeed ',' do
        = link_to 'news', 'http://umass.edu/transit/news.html'
      = succeed ', and' do
        = link_to 'schedules', 'http://umass.edu/transit/schedules.html'
      = succeed '.' do
        = link_to 'employment information', 'http://umass.edu/transit/join_team.html'
    %li You are an employee of UMass Transit, but we haven't added you to our
      database yet. In this case, please talk to the training supervisor or contact IT.
    %li You are an employee of UMass Transit, you have previously been able to log
      into the site, but now you cannot. If this is the case, please email IT at
      transit-it@admin.umass.edu immediately, or stop by our office. You may have been
      accidentally deactivated.

= link_to 'Logout', destroy_sessions_path, method: :delete

-if @shibboleth_down
  %p="If you're the current ST Dispatcher and you're seeing this page,
  please #{raw link_to('click here', backup_login_sessions_path, skip_permissions: true)} to
  login.".html_safe
