Dear #{@passenger.name},

Our records indicate that you only needed rides until #{Time.now.strftime("%m/%d/%Y")}, so we are archiving your account.

This is an automated email related to your UMass Amherst #{t 'department.name'} Account.
For more information, call us at #{t 'department.phone'}, email us at #{t 'department.email'}, or visit our website at #{t 'department.website'}
