Dear #{@passenger.name},

Your #{t 'department.name'} account has been created but is still pending. You can receive rides until #{3.business_days.after(Time.now).strftime("%m/%d/%Y")}.
Once your account has been activated, we will notify you of the date until which you can receive rides. Before using our service, please read the brochure at our website at this link:

=link_to nil, brochure_passengers_url

This is an automated email related to your UMass Amherst #{t 'department.name'} Account.
For more information, call us at #{t 'department.phone'}, email us at #{t 'department.email'}, or visit our website at #{t 'department.website'}
