%h1 Mobility Devices
.row
  .col-md-6.offset-md-3
    %table.table.table-sm
      %thead.table-dark
        %tr
          %th Device
          %th.text-center Needs Longer Rides?
          %th
          %th
      %tbody
        - if @devices.present?
          - @devices.each do |device|
            %tr
              %td= device.name
              %td.text-center= checkmark_glyph device.needs_longer_rides?
              %td= link_to 'Edit', edit_mobility_device_url(device)
              %td.text-end= button_to 'Destroy', device, method: :delete, class: 'btn btn-danger'
        - else
          %tr
            %td{ colspan: 4 } No devices to show.
    = link_to 'New mobility device', new_mobility_device_url
