%h1 Mobility Devices
%table#mobility-devices
  %thead
    %tr
      %th Device
      %th Needs Longer Rides?
      %th
      %th
  %tbody
    - if @devices.present?
      - @devices.each do |device|
        %tr
          %td= device.name
          %td= checkmark_glyph device.needs_longer_rides?
          %td= link_to 'Edit', edit_mobility_device_url(device)
          %td= button_to 'Destroy', device, method: :delete
    - else
      %tr
        %td{colspan: 4} No devices to show.
%br
= link_to 'New mobility device', new_mobility_device_url
