.row
  .col-md-6.offset-md-3
    = bootstrap_form_with model: @user, local: true do |f|
      = f.text_field :name
      = f.text_field :spire, placeholder: '12345678@umass.edu'
      = f.form_group do
        = f.check_box :active
      = f.form_group do
        = f.check_box :admin
      = f.text_field :title, help: 'Will be shown on brochure', list: 'title-list'
      %datalist#title-list
        = options_for_select @titles
      = f.primary 'Save'
