%h1 Users
.row
  .col-md-6.offset-md-3
    %table.table.table-sm
      %thead.table-dark
        %tr
          %th Name
          %th Spire ID
          %th Staff Title
          %th.text-center Active?
          %th.text-center Admin?
          %th
          %th
      %tbody
        - if @users.present?
          - @users.each do |user|
            %tr
              %td= user.name
              %td= user.spire
              %td= user.title
              %td.text-center= checkmark_glyph user.active?
              %td.text-center= checkmark_glyph user.admin?
              %td= link_to 'Edit', edit_user_path(user)
              %td.text-end= button_to 'Destroy', user, method: :delete,
                class: 'btn btn-danger', data: { turbo_confirm: 'Are you sure?' }
        - else
          %tr
            %td{colspan: 7} No users to show.
    .row
      .col
        - if @show_inactive
          = link_to 'Show active users only', users_url
        - else
          = link_to 'Also show inactive users', users_url(show_inactive: true)
      .col.text-end
        = link_to 'New User', new_user_path
