%h1 Listing users
%table#users
  %thead
    %tr
      %th Name
      %th Phone
      %th Spire ID
      %th Active?
      %th Admin
      %th
      %th
  %tbody
    - @users.each do |user|
      %tr
        %td= user.name
        %td= user.phone
        %td= user.spire
        %td= yes_no_image user.active?
        %td= yes_no_image user.admin?
        %td= link_to 'Edit', edit_user_path(user)
        %td= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' }
= link_to 'New User', new_user_path
