%h2 Scheduling Rides
%ul
  %li
    New schedules for the following week are available every Friday after
    7:00 a.m. You can call
    = phone_to t('department.phone')
    or text
    = sms_to t('department.sms')
    on Friday morning to set up your rides for the following week.
  %li
    #{t 'department.name'} vans travel on campus and in close proximity to the
    University, we do not travel more than 3 miles from Du Bois Library.
  %li
    Rides are scheduled in 15 minute blocks, for example: 1:00 p.m., 1:15 p.m.,
    1:30 p.m.
  %li
    Please make sure that you call at least 20 minutes before your desired
    pick-up time.
  %li
    Rides are first come, first served.
  %li
    When you call to schedule rides, you will speak to either the
    #{t 'department.abbr'} Dispatcher (during the weekday) or the Bus Radio
    Operator (nights and weekends). Keep in mind that the Dispatcher is more
    knowledgeable about the service, so you should reserve your more complicated
    questions for weekdays. Bus Radio Operators may only schedule rides for the
    current day, cancel rides throughout the week, and schedule off campus rides
    to and from you residence
    = succeed('.') { tag.strong 'only' }
    They may not schedule any &ldquo;off-off&rdquo; rides.
  %li
    Permanent rides are those which you will need every week for the entire
    semester. You may schedule permanent rides during the first two weeks
    of the semester, and you may update them at any time. If you don’t need
    a permanent ride on a particular day, please call to cancel ahead of time.
    Permanent rides are only available for passengers who will be registered
    with the service for 3 months or more.
  %li
    During Finals Week, all permanent rides for student passengers will end on
    the last day of classes, so if you have permanent rides scheduled that are
    not class related, you will have to call and reschedule (this includes trips
    to and from dining halls, work, etc.). If you are solely a staff or faculty
    member of the University, let us know; rides to and from work, and work
    only, will remain scheduled as usual.
  %li
    Following some holidays during the semester, the University will designate
    that a certain day of the week will follow another day’s class schedule.
    On such days, our schedules will be adjusted accordingly.
  %li
    There is generally one pick-up/drop-off spot per building. If you are unsure
    where the spot is for a building, please ask the dispatcher when you
    schedule the ride. Please do not ask drivers to drop you off outside of the
    designated drop-off locations. If you need special accommodations, please
    email the #{t 'department.abbr'} Supervisors at
    = succeed('.') { mail_to t('department.email') }
  %li
    A &ldquo;no-show&rdquo; is a ride that you miss completely or are more than
    five minutes late for. Passengers who accrue four or more no-shows in a
    four-week period may be suspended from the service for one week. If you
    no-show to a ride and do not call, all of your rides will be canceled for
    the rest of the day.
  %li
    A lateness is a ride for which you are less than 5 minutes late. Passengers
    who are late eight or more times in a four-week period, may be suspended
    from the service for one week. Lateness is not counted against you if the
    van itself was late to your pickup. Vans will wait exactly 5 minutes
    before they move on.
  %li
    A late cancellation is a ride that is cancelled with less than 2 hours
    notice. Passengers who accrue four late cancellations in a four-week period
    may be suspended from the service for one week.
  %li
    If your driver is not there within 2 minutes, call the Dispatcher at
    = succeed('.') { phone_to t('department.phone') }
