= form_with model: @passenger, local: true do |form|
  .form-group
    %b Registration date:
    = @passenger.registration_date
  .form-group
    = form.label :permanent, class: 'form-check-label'
    = form.check_box :permanent, class: 'form-check-input', disabled: !@current_user.admin?
  .form-group
    = form.label :name
    = form.text_field :name, class: 'form-control'
  .form-group
    = form.label :spire
    = form.text_field :spire, class: 'form-control', placeholder: '12345678@umass.edu'
  .form-group
    = form.label :address
    = form.text_field :address, class: 'form-control'
  .form-group
    = form.label :email
    = form.text_field :email, class: 'form-control'
  .form-group
    = form.label :phone
    = form.phone_field :phone, class: 'form-control'
  .form-group
    = form.label :status
    = form.select :status, Passenger::STATUSES, { include_blank: true }, { class: 'form-control' }
  .form-group
    - unless @passenger.permanent?
      = form.label :registered_with_disability_services, class: 'form-check-label'
      = form.check_box :registered_with_disability_services, class: 'form-check-input'
  .form-group
    - unless @passenger.permanent?
      = form.label :has_brochure, class: 'form-check-label'
      = form.check_box :has_brochure, class: 'form-check-input'
  .form-group
    = form.label :mobility_device_id
    = form.select :mobility_device_id,
     options_from_collection_for_select(MobilityDevice.order(:name),
       :id, :name, @passenger.mobility_device&.id), { include_blank: 'None' }, { class: 'form-control' }
  .form-group
    = form.label :active?
    = form.check_box :active?, {checked: true}, 'active', 'archived'
  .doctors-note-fields{class: doctors_note_fields_class}
    = form.label :has_doctors_note
    = form.check_box :has_doctors_note, checked: @passenger.doctors_note.present?
    = form.fields_for :doctors_note, @doctors_note do |d|
      .form-group
        = d.label :expiration_date, "Doctor's note expires"
        = d.text_field :expiration_date,
          class: 'form-control datepicker doctors_note_expiration_date'
        - if @passenger.doctors_note.blank? && @passenger.temporary?
          %i="Rides expire #{@passenger.rides_expire.try(:strftime, '%m/%d/%Y')}"
  .form-group
    = form.label :note
    = form.text_area :note, class: 'form-control'
  = form.submit 'Submit', class: 'btn btn-primary'
