.row
  .col-md-6.offset-md-3
    = bootstrap_form_with model: passenger, local: true do |form|
      - unless passenger.new_record?
        = form.text_field :registration_date, disabled: true, control_class: 'form-control-plaintext'
      = form.text_field :name, disabled: @registrant.present?
      = form.text_field :spire, placeholder: '12345678@umass.edu', disabled: @registrant.present?
      = form.text_field :address
      = form.text_field :email
      = form.phone_field :phone

      - if @current_user.present?
        = form.form_group :registration_status,
          label: { text: 'Registration Status' },
          help: "You can select 'pending' if the passenger is temporary but has no verifying information yet" do
          = form.radio_button :registration_status, 'pending'
          = form.radio_button :registration_status, 'active'
          = form.radio_button :registration_status, 'archived'

      = form.select :mobility_device_id,
        options_from_collection_for_select(MobilityDevice.order(:name),
          :id, :name, passenger.mobility_device&.id), include_blank: 'None'

      - if @current_user&.admin?
        = form.form_group do
          = form.check_box :permanent

      = form.form_group do
        = form.check_box :subscribed_to_sms

      .verification-fields
        = form.fields_for :eligibility_verification, @verification do |d|
          = d.select :verifying_agency_id,
            options_for_select(VerifyingAgency.all.map { |agency| [agency.name,
            agency.id, { 'data-needs-contact-info': agency.needs_contact_info? } ] },
            passenger.eligibility_verification&.verifying_agency&.id),
            help: verifying_agency_help_text,
            label: verifying_agency_label,
            include_blank: true
          - if passenger.eligibility_verification.blank? && passenger.temporary?
            - expiration_help = "Rides expire #{passenger.rides_expire.try(:strftime, '%m/%d/%Y')}"
          = d.date_field :expiration_date,
            class: 'verification-expires',
            help: expiration_help,
            label: expiration_date_label,
            disabled: passenger.permanent?
          = d.form_group :contact_information,
            label: { text: 'This verifying agency requires contact information to be entered' },
            class: contact_information_class(@verification),
            help: 'either phone or address is required' do
            = d.text_field :name
            = d.text_field :phone
            = d.text_area :address

      = form.text_area :note, rows: 20
      = form.primary 'Submit'
