.row
  .col-md-6.offset-md-3
    = bootstrap_form_with model: passenger, local: true do |form|
      - unless passenger.new_record?
        = form.text_field :registration_date, disabled: true, control_class: 'form-control-plaintext'
      = form.text_field :name, disabled: @registrant.present?
      = form.text_field :spire, placeholder: '12345678@umass.edu', disabled: @registrant.present?,
                                class: 'passenger-spire-field'
      = form.text_field :address
      = form.text_field :email
      = form.phone_field :phone

      - if Current.user.present?
        - help = "You can select 'pending' if the passenger is temporary but has no verifying information yet"
        = form.form_group :registration_status, help:, label: { text: 'Registration Status' } do
          = form.radio_button :registration_status, 'pending'
          = form.radio_button :registration_status, 'active'
          = form.radio_button :registration_status, 'archived'

      = form.select :mobility_device_id,
                    options_from_collection_for_select(MobilityDevice.order(:name),
                                                       :id, :name,
                                                       passenger.mobility_device&.id),
                    include_blank: 'None'

      - if Current.user&.admin?
        = form.form_group do
          = form.check_box :permanent, class: 'passenger-permanent-field'

      = form.form_group do
        = form.check_box :subscribed_to_sms

      .verification-fields
        = form.fields_for :eligibility_verification, verification do |d|
          :ruby
            options = VerifyingAgency.all.map do |agency|
              [agency.name, agency.id, { 'data-needs-contact-info': agency.needs_contact_info? }]
            end
          = d.select :verifying_agency_id,
                     options_for_select(options, passenger.eligibility_verification&.verifying_agency&.id),
                     { help: verifying_agency_help_text, label: verifying_agency_label, include_blank: true },
                     class: 'passenger-verifying-agency-field'
          - if passenger.eligibility_verification.blank? && passenger.temporary?
            - expiration_help = "Rides expire #{passenger.rides_expire.try(:strftime, '%m/%d/%Y')}"
          = d.date_field :expiration_date,
                         help: expiration_help,
                         label: expiration_date_label,
                         disabled: passenger.permanent?,
                         class: 'verification-expires'
          = d.form_group :contact_information,
                         label: { text: 'This verifying agency requires contact information to be entered' },
                         class: 'contact-information',
                         hidden: !verification&.verifying_agency&.needs_contact_info?,
                         help: 'either phone or address is required' do
            = d.text_field :name
            = d.text_field :phone
            = d.text_area :address

      = form.text_area :note, rows: 20
      = form.primary 'Submit'
