.row
  .col-md-6.offset-md-3
    = bootstrap_form_with model: @passenger, local: true do |form|
      .form-group
        %b Registration date:
        = @passenger.registration_date
      = form.text_field :name
      = form.text_field :spire, placeholder: '12345678@umass.edu'
      = form.text_field :address
      = form.text_field :email
      = form.phone_field :phone
      = form.select :status, Passenger::STATUSES, include_blank: true

      - unless @passenger.permanent?
        = form.form_group do
          = form.check_box :registered_with_disability_services
        = form.form_group do
          = form.check_box :has_brochure

      = form.select :mobility_device_id,
        options_from_collection_for_select(MobilityDevice.order(:name),
          :id, :name, @passenger.mobility_device&.id), include_blank: 'None'

      = form.form_group do
        = form.check_box :active?, {checked: true}, 'active', 'archived'

      = form.form_group do
        = form.check_box :permanent, disabled: !@current_user.admin?

      .verification-fields{class: doctors_note_fields_class}
        = form.fields_for :eligibility_verification, @verification do |d|
          = d.select :verifying_agency_id,
            options_from_collection_for_select(VerifyingAgency.all,
            :id, :name, @passenger.eligibility_verification&.verifying_agency&.id),
            include_blank: true
          - if @passenger.eligibility_verification.blank? && @passenger.temporary?
            - expiration_help = "Rides expire #{@passenger.rides_expire.try(:strftime, '%m/%d/%Y')}"
          = d.text_field :expiration_date,
            class: 'datepicker verification-expires',
            help: expiration_help

      = form.text_area :note, rows: 20
      = form.primary 'Submit'
