=form_with model: @passenger do |form|
  - if @passenger.errors.any?
    #error_explanation
      %h2= "#{pluralize(@passenger.errors.count,
        'error')} prohibited this passenger from being saved:"
      %ul
        - @passenger.errors.full_messages.each do |message|
          %li= message
  .field
    = form.label :passenger_name
    = form.text_field :name
  .field
    = form.label :address
    = form.text_field :address
  .field
    = form.label :email
    = form.text_field :email
  .field
    = form.label :phone_number
    = form.phone_field :phone
  = form.fields_for :doctors_note, @doctors_note do |d|
    .field
      = d.label :expiration_date
      = d.text_field :expiration_date,
        class: 'datepicker', id: 'doctors_note_expiration_date'
    .field
      = d.label :override_expiration_date
      = d.check_box :override_expiration,
        id: 'check-click'
    - if @doctors_note.present?
      .field#slide-date{class: passengers_form}
        = d.label :enter_override_date
        = d.text_field :override_until,
          class: 'datepicker'
  .field
    = form.label :mobility_device
    = form.select :mobility_device_id,
     options_from_collection_for_select(MobilityDevice.order(:name),
      :id, :name), include_blank: 'None'
  .field
    = form.label :permanent_passenger
    = form.check_box :permanent, disabled: @current_user.dispatcher?,
      id: 'passenger_permanent'
  - if @current_user.admin?
    .field
      = form.label :active
      = form.check_box :active
  .field
    = form.label :additional_notes
    = form.text_area :note, rows: 20, cols: 100
  .actions
    = form.submit 'Submit'
