=form_for @passenger do |form|
  - if @passenger.errors.any?
    #error_explanation
      %h2= "#{pluralize(@passenger.errors.count, "error")} prohibited this passenger from being saved:"
      %ul
        - @passenger.errors.full_messages.each do |message|
          %li= message

  .field
    = form.label :passenger_name
    = form.text_field :name
  .field
    = form.label :address
    = form.text_field :address
  .field
    = form.label :email
    = form.text_field :email
  .field
    = form.label :phone_number
    = form.phone_field :phone
  .field
    = form.label "10-23?"
    = form.check_box :wheelchair
  .field
    = form.label :active
    = form.check_box :active
  .field
    = form.label :permanent_passenger
    = form.check_box :permanent
  .field
    = form.label :expiration_date
    = form.text_field :expiration,
      class: 'datepicker'
  .field
    = form.label "Additional Notes"
    = form.text_area :note
  .actions
    = form.submit "Submit"
