.row
  .col-md-6.offset-md-3
    = bootstrap_form_with model: @passenger, local: true do |form|
      .form-group
        %b Registration date:
        = @passenger.registration_date
      = form.form_group do
        = form.check_box :permanent, disabled: !@current_user.admin?
      = form.text_field :name
      = form.text_field :spire, placeholder: '12345678@umass.edu'
      = form.text_field :address
      = form.text_field :email
      = form.phone_field :phone
      = form.select :status, Passenger::STATUSES, include_blank: true
      %b Registration Status
      = form.form_group do
        = form.radio_button :active_status, 'pending', class: 'form-check-input'
        = form.radio_button :active_status, 'active', class: 'form-check-input'
        = form.radio_button :active_status, 'archived', class: 'form-check-input'

      - unless @passenger.permanent?
        = form.form_group do
          = form.check_box :registered_with_disability_services
        = form.form_group do
          = form.check_box :has_brochure

      = form.select :mobility_device_id,
        options_from_collection_for_select(MobilityDevice.order(:name),
          :id, :name, @passenger.mobility_device&.id), include_blank: 'None'

      .verification-fields{class: verification_fields_class}
        = form.fields_for :verification, @verification do |d|
          = d.label :verification_source_id,
            'Which agency verifies that this passenger needs rides?'
          = d.select :verification_source_id,
            options_from_collection_for_select(VerificationSource.all,
            :id, :name, @passenger.verification&.verification_source&.id),
            include_blank: true
          - if @passenger.verification.blank? && @passenger.temporary?
            - expiration_help = "Rides expire #{@passenger.rides_expire.try(:strftime, '%m/%d/%Y')}"
          = d.text_field :expiration_date,
            label: 'How long will the passenger be with us?',
            class: 'datepicker verification_expiration_date',
            help: expiration_help

      = form.text_area :note, rows: 20
      = form.primary 'Submit'
