=form_with model: @passenger do |form|
  - if @passenger.errors.any?
    #error_explanation
      %h2= "#{pluralize(@passenger.errors.count, "error")} prohibited this passenger from being saved:"
      %ul
        - @passenger.errors.full_messages.each do |message|
          %li= message

  .field
    = form.label :passenger_name
    = form.text_field :name
  .field
    = form.label :address
    = form.text_field :address
  .field
    = form.label :email
    = form.text_field :email
  .field
    = form.label :phone_number
    = form.phone_field :phone
  .field
    = form.label :wheelchair
    = form.check_box :wheelchair
  .field
    = form.label :mobility_device
    = form.select :mobility_device, Passenger::MOBILITY_DEVICES,
    include_blank: 'None'
  - if @current_user.admin?
    .field
      = form.label :active
      = form.check_box :active
  .field
    = form.label :permanent_passenger
    = form.check_box :permanent, disabled: @current_user.dispatcher?,
      id: "passenger_permanent"
  = fields_for :doctors_note do |d|
    .field
      = d.label :expiration_date
      = d.text_field :expiration_date,
        class: 'datepicker'
  .field
    = form.label "Additional Notes"
    = form.text_area :note, rows: 20, cols: 100
  .actions
    = form.submit "Submit"
