= form_with scope: passenger, url: register_passengers_url, local: true do |f|
  .form-group
    = f.label :name
    = f.text_field :name, class: 'form-control', disabled: true
  .form-group
    = f.label :spire
    = f.text_field :spire, class: 'form-control',
      placeholder: '12345678@umass.edu', disabled: true
  .form-group
    = f.label :preferred_name, 'Preferred name (optional)'
    = f.text_field :preferred_name, class: 'form-control'
  .form-group
    = f.label :email
    = f.text_field :email, class: 'form-control', required: 'required'
  .form-group
    = f.label :phone
    = f.text_field :phone, class: 'form-control', required: 'required'
  .form-group
    = f.label :address
    = f.text_field :address, class: 'form-control', required: 'required'
    %i 
      Please enter the location at which you will generally be picked up/dropped
      off. If you live on campus, enter the dorm building. If you are a commuter
      and park in a parking lot, enter the lot where you will be picked up.
  .form-group
    = f.label :status
    = f.select :status, Passenger::STATUSES, { include_blank: true }, { class: 'form-control' }
  .form-group
    = f.label :mobility_device_id
    = f.select :mobility_device_id,
     options_from_collection_for_select(MobilityDevice.order(:name),
       :id, :name), { include_blank: 'None' }, {class: 'form-control'}
  .form-group
    = f.check_box :needs_assistance, class: 'form-check-input'
    = f.label :needs_assistance,
      'I will need assistance getting to and from buildings',
      class: 'form-check-label'
  .form-group
    = f.fields_for :doctors_note, @doctors_note do |d|
      .doctors-note-fields{class: ('hidden' if @registrant&.active? )}
        .form-group
          = d.label :expiration_date, 'You long will you be with us?'
          = d.text_field :expiration_date, class: 'registration-datepicker form-control'
          %i 
            If you need us longer than 6 weeks, you will need to register with
            =link_to 'UHS', 'https://www.umass.edu/uhs/accesstocare'
            ,
            =link_to 'Disability Services', 'https://www.umass.edu/disability/students'
            , or
            = link_to 'Accessible Workplace.',
              'https://www.umass.edu/disability/employees/employee-resources'
        .form-group
          = d.label :doctors_name
          = d.text_field :doctors_name, class: 'form-control', required: true
        .form-group
          = d.label :doctors_phone
          = d.text_field :doctors_phone, class: 'form-control'
          %i required if doctor's address is blank
        .form-group
          = d.label :doctors_address
          = d.text_field :doctors_address, class: 'form-control'
          %i required if doctor's phone number is blank
    .form-group
      = f.label :note
      = f.text_area :note, class: 'form-control'
      %i These notes will be available to all dispatchers
      .form-group
        %h2 Terms and conditions
        %p
          Welcome to UMass Special Transportation! Now that you have started the
          registration process, please read through the following information:
        = render 'terms_and_conditions'
      .form-group
        .form-check.form-check-inline
          = check_box_tag :terms_and_conditions, class: 'form-check-input'
          = label_tag :terms_and_conditions,
            'I accept and understand the terms and conditions',
            class: 'form-check-label', required: true
    .form-group
      = f.submit 'Submit', class: 'btn btn-primary'
