#brochure.container
  %h1 #{t 'department.name'} Passenger Information
  .row
    .col-lg-6
      %table.table
        %caption Contact Information
        %thead
        %tbody
          %tr
            %th Phone
            %td= t 'department.phone'
          %tr
            %th Public Website
            %td= link_to nil, t('department.website')
          %tr
            %th Email
            %td= t 'department.email'
    .col-lg-6
      %table.table
        %caption #{t 'department.name'} Staff
        %thead
        %tbody
          %tr
            %th= 'Supervisor'.pluralize t('department.supervisors').size
            %td= t('department.supervisors').to_sentence
          %tr
            %th= 'Coordinator'.pluralize t('department.coordinators').size
            %td= t('department.coordinators').to_sentence
  %h2 Hours of Operation
  .row
    .col-lg-6
      %table.table
        %caption Semester
        %thead
          %tr
            %th{ 'aria-label': 'Days' }
            %th Dispatch
            %th Van
        %tbody
          %tr
            %th{ scope: 'row'} Monday Through Friday
            %td 7:00 AM to 5:00 PM
            %td 7:15 AM to 8:15 PM
          %tr
            %th{ scope: 'row' } Saturday
            %td none
            %td 10:00 AM to 8:00 PM
          %tr
            %th{ scope: 'row' } Sunday
            %td none
            %td 10:00 AM to 8:00 PM
    .col-lg-6
      %table.table
        %caption Reduced Service (Holidays, Summer, Intersession)
        %thead
          %tr
            %th{ 'aria-label': 'Days' }
            %th Dispatch
            %th Van
        %tbody
          %tr
            %th{ scope: 'row'} Monday Through Friday
            %td 8:00 AM to 5:00 PM
            %td 7:15 AM to 7:15 PM
          %tr
            %th{ scope: 'row' } Saturday
            %td none
            %td 11:15 AM to 4:45 PM
          %tr
            %th{ scope: 'row' } Sunday
            %td closed
            %td closed
  = render 'policies'
  = render 'scheduling_rides_information'
