%p
  %strong.filter_description_emphasis
    = link_to "Add New Passenger", new_passenger_path
  %strong.filter_description_emphasis
    = link_to 'Dispatch Log', log_index_url
= form_tag passengers_path, method: :get do
  %p
  = label_tag 'Filter by Type:'
  Permanent
  = check_box_tag :filter, 'permanent', @permanent
  .checkbox-inline
  Temporary
  = check_box_tag :filter, 'temporary', @temporary
  .checkbox-inline
  Inactive
  = check_box_tag :filter, 'inactive', @inactive
  .checkbox-inline
  Active
  = check_box_tag :filter, 'active', @active
  .checkbox-inline
  = submit_tag "Find passengers"
  .checkbox-inline.key_position
    %table#key
      %tbody
        %tr
          %td.space
            %b Key:
          %td.will_expire_soon Will Expire Within 1 Week
          %td.expired_within_grace_period Recently Expired
          %td.has_been_overridden Expiration Overridden by Admin
          %td.inactive Inactive
          %td.no_note No Note
%p
- if @permanent
  %p.filter_description_color
    %b Showing all Permanent Passengers
- elsif @temporary
  %p.filter_description_color
    %b Showing all Temporary Passengers
- elsif @inactive
  %p.filter_description_color
    %b Showing Inactive Passengers
- elsif @active
  %p.filter_description_color
    %b Showing Only Active Passengers
- else
  %p.filter_description_color
    %b Showing All Passengers
%p
- if @passengers.present?
  %table#passengers{class: passengers_table_class}
    %thead
      %b
      %tr
        %th Name
        %th Email
        %th Phone
        %th.yesno Active
        %th.yesno Permanent
        %th.yesno Expiration Date
        %th
        %th
        -if @current_user.admin?
          %th
    %tbody
      - @passengers.each do |passenger|
        %tr{class: passenger.doctors_note.present? ? expiration_check(passenger.doctors_note) : ""}
          %td= passenger.name
          %td= passenger.email
          %td= passenger.phone
          - if passenger.active?
            %td.yes Yes
          - else
            %td.no No
          - if passenger.permanent?
            %td.yes Yes
          - else
            %td.no No
          %td.yes= passenger.expiration_display
          %td= link_to 'View', passenger
          %td= link_to 'Edit', edit_passenger_path(passenger)
          - if @current_user.admin?
            %td= link_to 'Delete', passenger, method: :delete,  data: { confirm: 'Are you sure?' }
- else
  No results
