%h1
  = @filters.join( ' ' ).capitalize
  Passengers

.row.align-items-end.justify-content-between
  .passenger-filters.col-lg-4.my-3
    = bootstrap_form_tag url: passengers_path, method: :get do |f|
      .form-row
        = f.form_group do
          - %w[permanent temporary all].each do |filter|
            =f.radio_button :filter, filter,
              label: filter.capitalize,
              checked: @filters.include?(filter),
              inline: true
      .form-row
        = f.submit 'Show Passengers'
        = f.submit 'Print filtered list', name: 'print'
  %table#key.col-lg-4.my-3
    %tbody
      %tr
        %td.expires-soon Expires within one week
        %td.needs-verification Within grace period, needs verification
        %td.expired Expired - out of grace period

- if @passengers.present?
  %table.table#passengers{data: {paging: 'false'}}
    %thead
      %tr
        %th Name
        %th Mobility Device
        %th Needs longer rides?
        %th Phone
        %th.text-center Permanent
        %th.text-center Rides Expire
        %th{data: {orderable: 'false'}}
        %th{data: {orderable: 'false'}}
        - if @current_user.admin?
          %th{data: {orderable: 'false'}}
          %th{data: {orderable: 'false'}}
    %tbody
      - @passengers.each do |passenger|
        %tr{class: passengers_table_row_class(passenger)}
          %td= passenger.name
          %td= passenger.mobility_device.try(:name)
          %td{data: {sort: passenger.needs_longer_rides?.to_s}}= checkmark_glyph(passenger.needs_longer_rides?, no: '')
          %td= passenger.phone
          %td.text-center{data: {sort: passenger.permanent?.to_s}}= checkmark_glyph passenger.permanent?
          %td.text-center{data: {sort: sortable_date(passenger.verification)}}=passenger.rides_expire.try(:strftime, '%m/%d/%Y')
          %td= link_to 'View', passenger
          %td= link_to 'Edit', edit_passenger_path(passenger)
          - if @current_user.admin?
            %td= button_to 'Archive', toggle_archive_passenger_url(passenger), class: 'btn btn-warning'
            %td= button_to 'Delete', passenger, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger'
- else
  No results
