%h1
  = @filters.join( ' ' ).capitalize
  Passengers

= form_tag passengers_path, method: :get do
  = label_tag 'Filter by Type:'
  .passenger-filters
    %label{ for: 'filter_permanent' } Permanent Only
    = radio_button_tag :filter, 'permanent', @filters.include?('permanent')
    %label{ for: 'filter_temporary' } Temporary Only
    = radio_button_tag :filter, 'temporary', @filters.include?('temporary')
    %label{ for: 'filter_'} All
    = radio_button_tag :filter, '', @filters.include?('all')
  = submit_tag 'Show Passengers'
  = submit_tag 'Print filtered list', name: 'print'
  %table#key
    %tbody
      %tr
        %td.expires-soon Expires within one week
        %td.needs-note Within grace period, needs doctor's note
        %td.inactive Inactive
        %td.no_note No Note
- if @passengers.present?
  %table#passengers{data: {paging: 'false'}}
    %thead
      %tr
        %th Name
        %th Mobility Device
        %th Needs longer rides?
        %th Phone
        %th.text-center Permanent
        %th.text-center Doc's Note Expires
        %th{data: {orderable: 'false'}}
        %th{data: {orderable: 'false'}}
        -if @current_user.admin?
          %th{data: {orderable: 'false'}}
          %th{data: {orderable: 'false'}}
    %tbody
      - @passengers.each do |passenger|
        %tr{class: passengers_table_row_class(passenger)}
          %td= passenger.name
          %td= passenger.mobility_device.try(:name)
          %td{data: {sort: passenger.mobility_device.try(:needs_longer_rides?).to_s}}= yes_image passenger.mobility_device.try(:needs_longer_rides?)
          %td= passenger.phone
          %td.text-center{data: {sort: passenger.permanent?.to_s}}= yes_no_image passenger.permanent?
          %td.text-center{data: {sort: sortable_date(passenger.doctors_note)}}=passenger.expiration_display
          %td= link_to 'View', passenger
          %td= link_to 'Edit', edit_passenger_path(passenger)
          - if @current_user.admin?
            %td= button_to 'Archive', toggle_archive_passenger_url(passenger), class: 'btn btn-warning'
            %td= button_to 'Delete', passenger, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger'
- else
  No results
