%h1
  %span.filter-name
  Passengers

.row.align-items-end.justify-content-between
  .passenger-filters.col-lg-4.my-3
    = bootstrap_form_tag url: passengers_path(format: 'pdf'), method: :get do |f|
      = f.form_group do
        %fieldset
          %legend.sr-only Filter Passengers
          - %w[permanent temporary all].each do |filter|
            =f.radio_button :filter, filter,
              label: filter.capitalize,
              checked: @filter == filter,
              inline: true
      = f.submit 'Print'
      -if @current_user.admin?
        .btn.btn-secondary.pull-right#copybtn Copy Emails

  .col-lg-4.my-3
    %table#key
      %tbody
        %tr.text-center
          %td.p-3.expires-soon Expires within one week
          %td.p-3.needs-note Within grace period, needs doctor's note
          %td.p-3.expired Expired - out of grace period

- if @passengers.present?
  %table.table#passengers{data: {paging: 'false'}}
    %thead
      %tr
        %th Name
        %th Mobility Device
        %th Needs longer rides?
        %th Phone
        %th.permanent.text-center Permanent
        %th.text-center{data: {type: 'date'}} Rides Expire
        %td{data: {orderable: 'false'}}
        %td{data: {orderable: 'false'}}
        - if @current_user.admin?
          %td{data: {orderable: 'false'}}
          %td{data: {orderable: 'false'}}
    %tbody
      - @passengers.each do |passenger|
        %tr{class: passengers_table_row_class(passenger), data: {email: passenger.email} }
          %th{scope: 'row'}= passenger.name
          %td= passenger.mobility_device.try(:name)
          %td= checkmark_glyph(passenger.needs_longer_rides?, no: '')
          %td= passenger.phone
          %td.text-center{data: {filter: passenger.permanent_or_temporary}}= checkmark_glyph passenger.permanent?
          %td.text-center= passenger.rides_expire.try(:strftime, '%m/%d/%Y')
          %td= link_to 'View', passenger
          %td= link_to 'Edit', edit_passenger_path(passenger)
          - if @current_user.admin?
            %td= button_to 'Archive', toggle_archive_passenger_url(passenger), class: 'btn btn-warning'
            %td= button_to 'Delete', passenger, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger'
- else
  No results
