%h1
  = @filters.join ' '
  Passengers

= form_tag passengers_path, method: :get do
  = label_tag 'Filter by Type:'
  .passenger-filters
    %label{ for: 'filter_permanent' } Permanent Only
    = radio_button_tag :filter, 'permanent', @filters.include?('permanent')
    %label{ for: 'filter_temporary' } Temporary Only
    = radio_button_tag :filter, 'temporary', @filters.include?('temporary')
    %label{ for: 'filter_'} All
    = radio_button_tag :filter, '', @filters.include?('all')
    %label{ for: 'show_inactive' } Show Inactive
    = check_box_tag :show_inactive, true, !@filters.include?('active')
  = submit_tag 'Show Passengers'
  = submit_tag 'Print These Filters', name: "print"
  .checkbox-inline.key_position
    %table#key
      %tbody
        %tr
          %td.will_expire_soon Will Expire Within 1 Week
          %td.expired_within_grace_period Expired Within Grace Period
          %td.inactive Inactive
          %td.no_note No Note
- if @passengers.present?
  %table.passengers{data: {paging: 'false'}}
    %thead
      %tr
        %th Name
        %th Mobility Device
        %th Email
        %th Phone
        %th.yesno Permanent
        %th.yesno Doc's Note Expires
        %th{data: {orderable: 'false'}}
        %th{data: {orderable: 'false'}}
        -if @current_user.admin?
          %th{data: {orderable: 'false'}}
          %th{data: {orderable: 'false'}}
    %tbody
      - @passengers.each do |passenger|
        %tr{class: passengers_table_row_class(passenger)}
          %td= passenger.name
          %td= passenger.mobility_device.try(:name)
          %td= passenger.email
          %td= passenger.phone
          - unless @filters.include? 'Active'
            %td.yes= yes_no_image passenger.active?
          %td.yes= yes_no_image passenger.permanent?
          %td.yes{data: {sort: sortable_date(passenger.doctors_note)}}=passenger.expiration_display
          %td= link_to 'View', passenger
          %td= link_to 'Edit', edit_passenger_path(passenger)
          - if @current_user.admin?
            %td= link_to 'Delete', passenger, method: :delete,  data: { confirm: 'Are you sure?' }
- else
  No results
