= form_tag(passengers_path, :method => "get") do
  = label_tag 'Search by name:'
  = text_field_tag :search, @search_term, placeholder: 'Enter a name'
  = label_tag 'Filter by Type:'
  Permanent
  = radio_button_tag :filter, 'permanent'
  Temporary
  = radio_button_tag :filter, 'temporary'
  Show All
  = radio_button_tag :filter, 'all'
  = submit_tag "Find passengers"

= link_to "Add New Passenger", new_passenger_path

- if @passengers.present?
  %table
    %thead
      %b
      %tr
        %th Name:
        %th Email:
        %th Phone:
        %th Active:
        %th Permanent:
        %th
        %th
        %th
    %tbody
      - @passengers.each do |passenger|
        %tr
          %td= passenger.name
          %td= passenger.email
          %td= passenger.phone
          - if passenger.active
            %td Yes
          - else
            %td No
          - if passenger.permanent
            %td Yes
          - else
            %td No
          %td= link_to "View", passenger
          %td= link_to "Edit", edit_passenger_path(passenger)
          %td= link_to "Delete", passenger, method: :delete,  data: { confirm: "Are you sure?" }
- else
  No results
