= form_tag passengers_path, method: :get do
  = label_tag 'Search by name:'
  = text_field_tag :search, @search_term, placeholder: 'Enter a name'
  %p
  = label_tag 'Filter by Type:'
  Permanent
  = radio_button_tag :filter, 'permanent'
  Temporary
  = radio_button_tag :filter, 'temporary'
  Show All
  = radio_button_tag :filter, 'all'
  = submit_tag "Find passengers"
%p
= link_to "Add New Passenger", new_passenger_path

- if @permanent
  %p
    %b Showing all Permanent
- elsif @temporary
  %p
    %b Showing all Temporary
- else
  %p
    %b Showing All Passengers

- if @passengers.present?
  %table
    %thead
      %b
      %tr
        %th Name
        %th Email
        %th Phone
        %th.yesno Active
        %th.yesno Permanent
        %th.yesno Expiration Date
        %th
        %th
        %th
    %tbody
      - @passengers.each do |passenger|
        %tr{class: expiration_check(passenger)}
          %td= passenger.name
          %td= passenger.email
          %td= passenger.phone
          - if passenger.active?
            %td.yes Yes
          - else
            %td.no No
          - if passenger.permanent?
            %td.yes Yes
          - else
            %td.no No
          %td.yes= passenger.expiration_display
          %td= link_to "View", passenger
          %td= link_to "Edit", edit_passenger_path(passenger)
          %td= link_to "Delete", passenger, method: :delete,  data: { confirm: "Are you sure?" }
- else
  No results
