%h1
  = @filters.join( ' ' ).capitalize
  Passengers

.row.align-items-end.justify-content-between
  = form_tag passengers_path, method: :get, class: 'col-lg-4 my-3' do
    .form-row
      .form-check.form-check-inline
        = radio_button_tag :filter, 'permanent', @filters.include?('permanent'),
          class: 'form-check-input'
        %label.form-check-label{ for: 'filter_permanent' } Permanent Only
      .form-check.form-check-inline
        = radio_button_tag :filter, 'temporary', @filters.include?('temporary'),
          class: 'form-check-input'
        %label.form-check-label{ for: 'filter_temporary' } Temporary Only
      .form-check.form-check-inline
        = radio_button_tag :filter, '', @filters.include?('all'),
          class: 'form-check-input'
        %label.form-check-label{ for: 'filter_'} All
    .form-row
      = submit_tag 'Show Passengers', class: 'btn btn-secondary mr-5'
      = submit_tag 'Print filtered list', name: 'print', class: 'btn btn-secondary'
  %table#key.col-lg-4.my-3
    %tbody
      %tr
        %td.expires-soon Expires within one week
        %td.needs-note Within grace period, needs doctor's note
        %td.expired Expired - out of grace period

- if @passengers.present?
  %table.table#passengers{data: {paging: 'false'}}
    %thead
      %tr
        %th Name
        %th Mobility Device
        %th Needs longer rides?
        %th Phone
        %th.text-center Permanent
        %th.text-center Rides Expire
        %th{data: {orderable: 'false'}}
        %th{data: {orderable: 'false'}}
        - if @current_user.admin?
          %th{data: {orderable: 'false'}}
          %th{data: {orderable: 'false'}}
    %tbody
      - @passengers.each do |passenger|
        %tr{class: passengers_table_row_class(passenger)}
          %td= passenger.name
          %td= passenger.mobility_device.try(:name)
          %td{data: {sort: passenger.needs_longer_rides?.to_s}}= checkmark_glyph(passenger.needs_longer_rides?, no: '')
          %td= passenger.phone
          %td.text-center{data: {sort: passenger.permanent?.to_s}}= checkmark_glyph passenger.permanent?
          %td.text-center{data: {sort: sortable_date(passenger.doctors_note)}}=passenger.rides_expire.try(:strftime, '%m/%d/%Y')
          %td= link_to 'View', passenger
          %td= link_to 'Edit', edit_passenger_path(passenger)
          - if @current_user.admin?
            %td= button_to 'Archive', toggle_archive_passenger_url(passenger), class: 'btn btn-warning'
            %td= button_to 'Delete', passenger, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger'
- else
  No results
