%h1 Passengers

= form_tag passengers_path(format: 'pdf'), method: :get do
  .form-group
    = label_tag 'Filter by Type:'
    .passenger-filters
      %label{ for: 'filter_permanent' } Permanent Only
      = radio_button_tag :filter, 'permanent', @filter == 'permanent'
      %label{ for: 'filter_temporary' } Temporary Only
      = radio_button_tag :filter, 'temporary', @filter == 'temporary'
      %label{ for: 'filter_'} All
      = radio_button_tag :filter, '', @filter.blank?
  .form-group
    = submit_tag 'Print'
  %table#key
    %tbody
      %tr
        %td.expires-soon Expires within one week
        %td.needs-note Within grace period, needs doctor's note
        %td.expired Expired - out of grace period
- if @passengers.present?
  %table.table#passengers{data: {paging: 'false'}}
    %thead
      %tr
        %th Name
        %th Mobility Device
        %th Needs longer rides?
        %th Phone
        %th.permanent.text-center Permanent
        %th.text-center Rides Expire
        %th{data: {orderable: 'false'}}
        %th{data: {orderable: 'false'}}
        - if @current_user.admin?
          %th{data: {orderable: 'false'}}
          %th{data: {orderable: 'false'}}
    %tbody
      - @passengers.each do |passenger|
        %tr{class: passengers_table_row_class(passenger)}
          %td= passenger.name
          %td= passenger.mobility_device.try(:name)
          %td{data: {sort: passenger.needs_longer_rides?.to_s}}= checkmark_glyph(passenger.needs_longer_rides?, no: '')
          %td= passenger.phone
          - permanent_data = {sort: passenger.permanent_or_temporary, filter: passenger.permanent_or_temporary}
          %td.text-center{data: permanent_data}= checkmark_glyph passenger.permanent?
          %td.text-center{data: {sort: sortable_date(passenger.doctors_note)}}=passenger.rides_expire.try(:strftime, '%m/%d/%Y')
          %td= link_to 'View', passenger
          %td= link_to 'Edit', edit_passenger_path(passenger)
          - if @current_user.admin?
            %td= button_to 'Archive', toggle_archive_passenger_url(passenger), class: 'btn btn-warning'
            %td= button_to 'Delete', passenger, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger'
- else
  No results
