- if @passengers.present?
  %h1 Pending Passengers
  %table.table#passengers
    %thead
      %tr
        %th Name
        %th Mobility Device
        %th Email
        %th Phone
        %th.yesno Permanent
        %th.yesno Registered with External Services
        %th.yesno Doc's Note Expires
        %th{data: {orderable: 'false'}}
        %th{data: {orderable: 'false'}}
        %th{data: {orderable: 'false'}}
        %th{data: {orderable: 'false'}}
    %tbody
      - @passengers.each do |passenger|
        %tr
          %td= passenger.name
          %td= passenger.mobility_device.try(:name)
          %td= passenger.email
          %td= passenger.phone
          %td.yes= checkmark_glyph passenger.permanent?
          %td.yes= passenger.expiration_display
          %td= link_to 'View', passenger
          %td= link_to 'Edit', edit_passenger_path(passenger)
          %td= button_to 'Approve', toggle_status_passenger_url(passenger, status: 'active'), class: 'btn btn-warning'
          %td= button_to 'Delete', passenger, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger'
- else
  %h1 No Pending Passengers to Display
