%h1= @passenger.name
%p
  %b Address:
  = @passenger.address
%p
  %b Spire:
  = @passenger.spire
%p
  %b Email:
  = @passenger.email
%p
  %b Phone:
  = @passenger.phone
%p
  %b UMass Status:
  = @passenger.status
%p
  %b Registered with disability services?
  %td.yes= yes_no_image @passenger.registered_with_disability_services?
%p
  %b Has brochure?
  %td.yes= yes_no_image @passenger.has_brochure?
%p
  %b Mobility Device:
  = @passenger.mobility_device.try(:name) || 'None'
%p
  %b Active:
  %td.yes= yes_no_image @passenger.active?
%p
  %b Permanent:
  %td.yes= yes_no_image @passenger.permanent
- if @passenger.expiration_display
  %p
    %b Expiration Date:
    = @passenger.expiration_display
- if @passenger.doctors_note.present? && @passenger.doctors_note.override_until.present?
  %p
    %b Override Expiration Date:
    = @passenger.doctors_note.override_until
%p
  %b Registering Dispatcher:
  = @passenger.registerer || 'Unknown'
%p
  %b Other Notes:
  = @passenger.note
= link_to 'Edit', edit_passenger_path
= link_to 'Back', passengers_path
