%h1= @passenger.name
%p
  %b Address:
  = @passenger.address
%p
  %b Spire:
  = @passenger.spire
%p
  %b Email:
  = @passenger.email
%p
  %b Phone:
  = @passenger.phone
%p
  %b UMass Status:
  = @passenger.status
%p
  %b Has brochure?
  = checkmark_glyph @passenger.has_brochure?
%p
  %b Mobility Device:
  = @passenger.mobility_device.try(:name) || 'None'
%p
  %b Active:
  = checkmark_glyph @passenger.active?
%p
  %b Permanent:
  = checkmark_glyph @passenger.permanent
- if @passenger.temporary?
  - if @passenger.verification.present?
    %b Verified by:
    = verification_source(@passenger.verification)
  - else
    %b Passenger unverified.
  %p 
    %b Rides expire:
    = @passenger.rides_expire.strftime('%m/%d/%Y')

%p
  %b Registering Dispatcher:
  = @passenger.registerer || 'Unknown'
%p
  %b Registration Date:
  = @passenger.registration_date
%p
  %b Other Notes:
  = @passenger.note
= link_to 'Edit', edit_passenger_path
= link_to 'Back', passengers_path
