%p#notice= notice

%h1= @passenger.name
%p
  %b Address:
  =@passenger.address
%p
  %b Email:
  = @passenger.email
%p
  %b Phone:
  = @passenger.phone
%p
  %b Wheelchair:
  - if @passenger.wheelchair
    Yes
  - else
    No
%p
  %b Active:
  - if @passenger.active
    Yes
  - else
    No
%p
  %b Permanent:
  - if @passenger.permanent
    Yes
  - else
    No
%p
  %b Expiration Date:
  - if @passenger.permanent?
    None
  - elsif @passenger.expiration.present?
    = @passenger.expiration.strftime '%m/%d/%Y'
  - else
    No Note

%p= @passenger.note
= link_to "Edit", edit_passenger_path
= link_to "Back", passengers_path
