%h1= @passenger.name
%p
  %b Address:
  = @passenger.address
%p
  %b Spire:
  = @passenger.spire
%p
  %b Email:
  = @passenger.email
%p
  %b Phone:
  = @passenger.phone
%p
  %b UMass Status:
  = @passenger.status
%p
<<<<<<< HEAD
  %b Registered with disability services?
  = checkmark_glyph @passenger.registered_with_disability_services?
=======
  %b Has brochure?
  = checkmark_glyph @passenger.has_brochure?
>>>>>>> 120c70ea487769cfc99cf44fad2948405335c167
%p
  %b Mobility Device:
  = @passenger.mobility_device.try(:name) || 'None'
%p
  %b Registration Status:
  = @passenger.active_status.capitalize
%p
  %b Permanent:
  = checkmark_glyph @passenger.permanent
%p
  %b Verification of Ride Eligibility:
  = verification_information(@passenger)
- if @passenger.temporary?
  %p
    - if @passenger.eligibility_verification.present?
      %b Doctor's Note Expiration Date:
    - else
      %b Rides Expire:
    = @passenger.rides_expire.strftime('%m/%d/%Y')
%p
  %b Registering Dispatcher:
  = @passenger.registerer || 'Unknown'
%p
  %b Registration Date:
  = @passenger.registration_date
%p
  %b Other Notes:
  = @passenger.note
= link_to 'Edit', edit_passenger_path
= link_to 'Back', passengers_path
