%h1= @passenger.name
%p
  %b Address:
  = @passenger.address
%p
  %b Spire:
  = @passenger.spire
%p
  %b Email:
  = @passenger.email
%p
  %b Phone:
  = @passenger.phone
%p
  %b Subscribed to SMS:
  = @passenger.subscribed_to_sms ? "Yes" : "No"

%p
  %b Mobility Device:
  = @passenger.mobility_device.try(:name) || 'None'
%p
  %b Registration Status:
  = @passenger.registration_status.capitalize
%p
  %b Permanent:
  = checkmark_glyph @passenger.permanent
%p
  %b Verification of Ride Eligibility:
  = verification_information(@passenger)
- if @passenger.temporary?
  %p
    %b Rides Expire:
    = @passenger.rides_expire.strftime('%m/%d/%Y')
%p
  %b Registering Dispatcher:
  = @passenger.registerer&.name
%p
  %b Registration Date:
  = @passenger.registration_date
%p
  %b Other Notes:
  = @passenger.note
- if @registrant
  %p
    You may edit your information until your registration has been approved.
    After that, you must call the dispatcher.
= link_to 'Edit', edit_passenger_path
- unless @registrant
  = link_to 'Back', :back
