= paginator.render do
  %nav{ 'aria-label': 'Results pages' }
    .d-none.d-sm-block
      %ul.pagination.justify-content-center
        = prev_page_tag
        - each_page do |page|
          - if page.left_outer? || page.right_outer? || page.inside_window?
            = page_tag page
          - elsif !page.was_truncated?
            = gap_tag
        = next_page_tag
    .d-sm-none
      %ul.pagination.justify-content-center
        = prev_page_tag
        - each_page do |page|
          - if page.left_outer? || page.right_outer? || page.prev? || page.next? || page.current?
            = page_tag page
          - elsif !page.was_truncated?
            = gap_tag
        = next_page_tag
