= bootstrap_form_with model: log_entry, namespace: log_entry.id, local: true do |f|
  = f.text_area :text, required: true, rows: 6, hide_label: true
  .d-flex
    = f.primary log_entry.persisted? ? 'Save' : 'Submit'
    - if @current_user.admin?
      .input-group.ms-2
        .input-group-text
          .form-check
            = f.check_box_without_bootstrap :pinned, class: 'form-check-input'
            = f.label :pinned, class: 'form-check-label'
