%h1 Welcome to the #{t 'department.name'} website.
%h2 You are not allowed on this page.
%p
  Some possible scenarios:
  %ul
    %li
      You are a current or future passenger. In this case, you might be
      interested in our
      = succeed '.' do
        = link_to 'brochure', brochure_passengers_path
    %li
      You are a #{t 'department.name'} employee and believe that you should have
      access. If this is the case, please contact #{t 'department.abbr'} staff
      for assistance.

= link_to 'Logout', destroy_session_path, data: { turbo_method: :delete }
