%nav.navbar.navbar-expand-lg.mb-2.bg-light
  = navbar_link 'Passengers', passengers_path
  = navbar_link 'Add New Passenger', new_passenger_path
  = navbar_link 'Dispatch Log', log_index_path
  = navbar_link 'Site Feedback', feedback_index_path
  - if @current_user.admin?
    = navbar_link 'Manage Users', users_path
    = navbar_link 'Manage Mobility Devices', mobility_devices_path
    = navbar_link 'Archived Passengers', archived_passengers_path
  = link_to 'Logout', destroy_session_path, class: 'ml-auto mr-2 nav-link btn btn-secondary'
