%nav.navbar.navbar-expand-lg.navbar-light.bg-light{aria: {label: 'Main'}}
  %ul.navbar-nav.mr-auto
    - if @current_user
      %li.nav-item.dropdown
        = link_to 'Passengers', '#', class: 'nav-link dropdown-toggle', id: 'passenger-dropdown',
          data: {toggle: 'dropdown'}, aria: {haspopup: 'true', expanded: 'false'}
        .dropdown-menu{aria: { labelledby: 'passenger-dropdown' }}
          = link_to 'Current', passengers_path, class: 'dropdown-item'
          = link_to 'Archived', archived_passengers_path, class: 'dropdown-item'
          = link_to pending_passengers_path, class: 'dropdown-item' do
            Pending
            %span.badge.badge-warning= Passenger.pending.count
      %li.nav-item
        = link_to 'Add New Passenger', new_passenger_path, class: 'nav-link'
      %li.nav-item
        = link_to 'Dispatch Log', log_index_path, class: 'nav-link'
    - if @current_user&.admin?
      %li.nav-item.dropdown
        = link_to 'Manage', '#', class: 'nav-link dropdown-toggle', id: 'management-dropdown',
          data: {toggle: 'dropdown'}, aria: {haspopup: 'true', expanded: 'false'}
        .dropdown-menu{aria: { labelledby: 'management-dropdown' }}
          = link_to 'Users', users_path, class: 'dropdown-item'
          = link_to 'Mobility Devices', mobility_devices_path, class: 'dropdown-item'
    %li.nav-item
      = link_to 'Site Feedback', feedback_index_path, class: 'nav-link'
    %li.nav-item
      = link_to 'Brochure', brochure_passengers_path, class: 'nav-link'
  = link_to 'Logout', destroy_session_path, class: 'nav-link'
